.gluggastuff {
  height: 100%;
  position: absolute;
  top: 55px;
  pointer-events: none;
  z-index: 4;
  /* husin góð */
  content: " ";
  background-size: 100%;
}

/* mavur flug */

@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}
#mavurflug {
  display: none;
}
.mavurStay {
  display: none !important;
}
.mavurFly {
  display: block !important;
  transform: translate3d(0, -15px, 0);
  transition: 0.1s;
}
@keyframes kerti-logar {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.2;
  }
}
@keyframes herbergi-logar {
  from {
    fill: #4943ac;
  }
  to {
    fill: #1b1464;
  }
}

.gluggi-st3 {
  animation: kerti-logar 3s ease 0s infinite alternate;
}
.gluggi-st0 {
  animation: herbergi-logar 3s ease 0s infinite alternate;
}
