.gluggastuff {
  height: 100%;
  position: absolute;
  top: 55px;
  pointer-events: none;
  z-index: 4;
}
#gluggadot-1 {
}
#mavur-thak {
}
@keyframes kerti-logar {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.2;
  }
}
@keyframes herbergi-logar {
  from {
    fill: #4943ac;
  }
  to {
    fill: #1b1464;
  }
}

.gluggi-st3 {
  animation: kerti-logar 3s ease 0s infinite alternate;
}
.gluggi-st0 {
  animation: herbergi-logar 3s ease 0s infinite alternate;
}
