.gluggi:hover {
  cursor: pointer;
}
.gluggi {
  fill: #3f68c4;
  pointer-events: none;
}
.tala {
  fill: white;
}
.tolur {
  pointer-events: none;
}
.tolur:hover {
  cursor: pointer;
}

.clickableGluggi {
  pointer-events: all;
}
#dagur1,
#dagur2,
#dagur3 {
  pointer-events: all;
}
.st6tolur {
  display: none;
}
