.gluggi:hover {
  cursor: pointer;
}
.gluggi {
  fill: #3f68c4;
  pointer-events: none;
}
.tala {
  fill: white;
}
.tolur {
  pointer-events: none;
}
.tolur:hover {
  cursor: pointer;
}

#dagur1 {
  pointer-events: all;
}
